html{
	font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 3rem 0 4rem 0;
  border-bottom: 0.5rem solid #1a1a1a;
}

.div-container{
	width: 56%;
	margin: 0px auto;
	text-align: left;
}

h1 {
	font-family: 'Lora', serif;
	line-height: 3.75rem;
	font-size: 2.75rem;
	font-weight: 400;
	color: #333333;
}

h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-bottom: -1rem;
	margin-top: 2rem;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	color: #333333;
}

h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: -1.25rem;
	margin-top: 4rem;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	color: #333333;
}

.tagline {
	font-size: 1.25rem;
	line-height: 2rem;
	margin-bottom: 8rem;
	margin-top: -1.5rem;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	color: #6A6A6A;
}

p,ul,ol {
	font-family: 'Inter', sans-serif;
	font-size: 1.125rem;
	line-height: 2rem;
	font-weight: 400;
	color: #5d5d5d;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.p-small{
	font-family: 'Inter', sans-serif;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	color: #aaaaaa;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

li{
	font-family: 'Inter', sans-serif;
	font-size: 1.125rem;
	line-height: 2rem;
	font-weight: 400;
	color: #5d5d5d;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.quote{
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-weight: 400;
	color: #1a1a1a;
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
	box-shadow: inset 0.25rem 0px 0px 0px #F14F68;
	padding-left: 1.5rem;
}

a{
	color: #1a1a1a;
	text-decoration: underline;
}

b{
	font-weight: 500;
}

strong{
	font-weight: 500;
	color: #3d3d3d;
}


img{
	margin: 2rem 0;
	/* cursor: zoom-in; */
}

code{
	background-color: #f0f0f0;
	color: #222222;
	font-size: 0.9375rem;
	padding: 2px 4px;
	border-radius: 3px;
	font-family: 'Fira Code', monospace;
}

hr{
	border: 1px solid #e7e7e7;
}

.img-center{
	width: 86%;
	height: auto;
	border-radius: 0.375rem;
}

.img-wide{
	width: 100%;
	height: auto;
}

.img-compact{
	width: 56%;
	height: auto;
	border-radius: 0.375rem;
}

.image-caption{
	margin-top: -2rem;
	text-align: center;
	font-size: 0.75rem;
	color: #999999;
}

.img-cover{
	width: 100%;
	height: auto;
	border-radius: 0rem;
	background-color: #ffffff;
}

.div-user-insights{
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-gap: 3rem;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas: 
	"insights-one insights-two insights-two insights-two insights-two insights-two"
}

.insights-one {
	grid-area: insights-one;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.insights-two { 
	grid-area: insights-two;
	display: flex;
    justify-content: center;
    align-items: center;
}

.insights-one img{
	height: 4rem;
	width: auto;
}

.italic-text{
	font-style: italic;
}


.top-nav{
	margin: 0;
	position: fixed;
	background-color: rgba(0,0,0,.05);
	width: 42px;
	height: 42px;
	top: 8px;
	left: 8px;
	border-radius: 6px;
}

.jump-to{
	margin: 0;
	position: fixed;
	top: 8px;
	right: 8px;
	border-radius: 6px;
}

.next{
	font-size: 0.875rem;
	color: #aaaaaa;
	font-weight: 500;
	letter-spacing: .1rem;
	text-transform: uppercase;
	margin-bottom: -1rem;
}

.flexbox{
	display: flex;
	width: 100%;
	margin-right: -1rem;
}

.flexbox-half{
	display: flex;
	width: 50%;
	margin-right: -1rem;
}

.flexbox a{
	text-decoration: none;
}

.flexbox-half a{
	text-decoration: none;
}

.flexbox-item{
	flex: 1;
	margin-right: 0.75rem;
	border-radius: 0.375rem;
}

.card-title{
	font-size: 1rem;
	line-height: 1.5rem;
	color: #1a1a1a;
	font-weight: 500;
}

.card-desc{
	font-size: 0.75rem;
	line-height: 1.125rem;
	color: #999999;
	margin-top: -0.75rem;
}


.img-flex{
	display: block;
	width: 100%;
	height: 14.8vw;
	object-fit: cover;
	margin-bottom: 1rem;
	border-radius: 0.375rem;
	background-color: #ffffff;
}

.headings-mode p,
.headings-mode img:not(.top-nav),
.headings-mode ol,
.headings-mode ul,
.headings-mode h1,
.headings-mode br,
.headings-mode hr,
.headings-mode #tldr {
	display: none;
}

.modal-overlay{
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
	position: fixed;
    z-index:10000;
    top:0;
	left:0;
	cursor:zoom-out;
	display: grid;
	place-content: center;
}


.img-modal{
	background-size: contain;
	width: 90vw;
	height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    animation: img-modal-animation 200ms ease-out;
    animation-iteration-count: 1;
}

@keyframes img-modal-animation{
	0%{
		opacity: 0;
		transform: translateY(-10px) scale(0.95);
	}

	100%{
		opacity: 100%;
		transform: translateY(0) scale(1);
	}	
}


@media screen and (min-width: 600px) and (max-width: 1200px) {
	.div-container{
		width: 70%;
		margin: 0 auto;
		text-align: left;
	}
	.img-center{
		width: 70%;
	}

	.img-cover{
		width: 90%;
		height: 30vw; 
	}
	.img-compact{
		width: 70%;
		height: auto;
		border-radius: 0.375rem;
	}
	.modal-overlay{
		background-color: rgba(0,0,0,0.4);
	}

	.img-modal{		
		width: calc(90vw);
		height: calc(100vh - 16px);
	}
}



@media screen and (max-width: 600px) {
	html{
		font-size: 14px;
	}
	body {
		padding: 12rem 0 4rem 0;
		border-bottom: 0;
	}
	.div-container{
		width: 90%;
		margin: 0 auto;
		text-align: left;
	}
	h1{
		font-size: 2.2rem;
		line-height: 3.2rem;
	}

	.img-center{
		width: 90%;
	}

	.img-cover{
		display: none;
	}
	.img-compact{
		width: 90%;
		height: auto;
		border-radius: 0.25rem;
	}

	.flexbox-half{
		display: flex;
		width: 100%;
		margin-right: -1rem;
	}

	.flexbox{
		flex-direction: column;
	}
	
	.img-flex{
		height: 56vw;
	}

	.card-title{
		font-size: 1.142rem;
		line-height: 1.5rem;
		color: #1a1a1a;
		font-weight: 500;
	}

	.card-desc{
		font-size: 0.75rem;
		line-height: 1.125rem;
		color: #999999;
		margin-top: -0.75rem;
	}

	.modal-overlay{
		background-color: rgba(0,0,0,1);
	}

	.img-modal{
		width: calc(100vw - 12px);
		height: calc(100vh - 16px);
	}
}
